{% load staticfiles %}

<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="bf_favicon.png"/>
		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/main.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<title>BookieFree | Free eBooks</title>
	</head>
	<body>

	<div style="margin:0px;" class="row">
		<div class="col-lg-2 left-navbar">
			<img src="{{ STATIC_URL }}static/images/bf_logo.png" width="200px" class="img-responsive">
		</div>
    <form action="/search" method="get">
		<div class="col-lg-10 main-navbar">

			<div class="row">

				<div class="col-md-10">
				<div id="custom-search-input">
		            <div class="input-group" >

                        <div style="width:600px;">
                            <!--<div class="col-md-10">-->
						        <input type="text" name="q" style="width:450px; display:inline-block;" class="search-query form-control" placeholder="Search for popular titles, authors, publications...." />
                            <!--</div>-->
                            <!--<div class="col-md-2">-->
                               <button type="submit" class="btn" style="display:inline-block; margin-left:38px; margin-top:-1px; width:100px; color:#fff; background-color:#028CB3; padding:8px; border-radius:50px; cursor:pointer;">Search</button>
                            <!--</div>-->
                        </div>

		            </div>
		        </div>
		    	</div>

		    	<div class="col-md-2">
					<button type="button" class="btn" style="margin-top:16px; padding:8px; color:#fff; background-color:#028CB3; width:100px; border-radius:50px;" data-toggle="modal" data-target="#myModal">Log in</button>

					  <!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog modal-sm">
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4>Please Log In, or <a href="#">Sign Up</a></h4>
							</div>
							<div class="modal-body">



									<div class="main">

										<h5>Log In using</h5>
									  <div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6">
										  <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6">
										  <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
										</div>
									  </div>
									  <div class="login-or">
										<hr class="hr-or">
										<span class="span-or">or</span>
									  </div>

									  <form role="form">
										<div class="form-group">
										  <label for="inputUsernameEmail">Username or email</label>
										  <input type="text" class="form-control" id="inputUsernameEmail">
										</div>
										<div class="form-group">
										  <a class="pull-right" href="#">Forgot password?</a>
										  <label for="inputPassword">Password</label>
										  <input type="password" class="form-control" id="inputPassword">
										</div>
										<div class="checkbox pull-right">
										  <label>
											<input type="checkbox">
											Remember me </label>
										</div>
										<button type="submit" class="btn btn btn-primary">
										  Log In
										</button>
									  </form>



								  </div>


							</div>
						  </div>
						</div>
					  </div>
		    		<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
					<!--<span class="fa-stack fa-2x has-badge" data-count="103">-->
					  <!--<i class="glyphicon glyphicon-heart custom-bk"></i>-->
					<!--</span>-->
		    	</div>

	    	</div>

	    </div>
    </form>
	</div>
	<!-- row begin -->
	<div style="margin:0px;" class="row main-body">
		<!-- left section -->
		<div style="padding-right:0px; padding-left:0px;" class="col-md-2">

			<div class="user-head-left">

                      <ul class="inbox-nav inbox-divider">

						  <li id="explore" class="active">
                              <a href="/" onclick="test()">Explore</a>

                          </li>
                          <li id="fiction">
                              <a href="fiction" onclick="test()">Fiction</a>

                          </li>
                          <li>
                              <a href="non_fiction">Non-Fiction</a>
                          </li>
                          <li>
                              <a href="#">Romance</a>
                          </li>
                          <li>
                              <a href="#">Drama</a>
                          </li>
                          <li>
                              <a href="#">Classic</a>
                          </li>
                      </ul>
                      <br>
                      <hr>

                      <ul class="inbox-nav inbox-divider">

						  <li>
                              <a href="about"><i class="fa fa-inbox"></i>About</a>

                          </li>
						   <li>
                              <a href="team"><i class="fa fa-inbox"></i>Our Team</a>

                          </li>
						  <li>
                              <a href="request_book"><i class="fa fa-inbox"></i>Request Book</a>

                          </li>

                      </ul>

		</div>
	</div>

		<!-- Book list section -->
		<div style="height: 100vh; overflow-y:scroll; padding:0px 24px;" class="col-md-10">


                <br><h2 style="padding-left: 14px;"><b>Request Book</b></h2><br>

                <form role="form" class="col-md-4">


                 <div class="form-group">
                    <label for="clientname">Name</label>
                    <input type="name" class="form-control" id="clientname" placeholder="Enter Your Name">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail1">Email address</label>
                    <input type="email" class="form-control" id="inputEmail1" placeholder="Enter your email">
                  </div>
                  <div class="form-group">
                    <label for="bookname">Book Name</label>
                    <input type="name" class="form-control" id="bookname" placeholder="Enter Name of Book">
                  </div>
                  <div class="form-group">
                    <label for="authorname">Author Name (optional)</label>
                    <input type="name" class="form-control" id="authorname" placeholder="Enter Name of Author">
                  </div>
                  <div class="form-group">
                    <label for="publicationname">Publication Name (optional)</label>
                    <input type="text" class="form-control" id="publicationname" placeholder="Enter Name of Publication">
                  </div>
                  <div class="form-group">
                    <label>Enquiry</label>
                    <textarea type="text" class="form-control" id="text" placeholder="Write your query here"></textarea>
                  </div>
                  <button type="submit" class="btn" style="margin-top:16px; color:#fff; background-color:#028CB3;; border-radius:50px;">Request</button>
                </form>

		</div>

	<!-- row end -->
	</div>

		<script type="text/javascript" src="{{ STATIC_URL }}static/js/main.js"></script>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</htmL>